<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Inventory!</title>
  </head>
  <body>

    <div class='container'>
      <h1>Welcome to your inventory!!</h1>

      <p><a href='/items'>Click here</a> to see all of the items and to add to inventory.</p>
    </div>

  </body>
</html>
